@import url('https://fonts.googleapis.com/css?family=Bitter|Inconsolata|Indie+Flower|Eater|Open+Sans|Rozha+One|Saira+Semi+Condensed');

body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

.emojis {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0; padding: 0;
  justify-content: center;  
}

.emojis-item {
  position: relative;
  margin: 10px;  
  transition: transform 113ms;
  user-select: none;
}

.emojis-item:hover {
  transform: scale(2);
}

.emojis-item-emoji {
  font-size: 32pt;
}

.emojis-item-emoji:hover {
  animation-name: psychedelic;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);  
}

@keyframes psychedelic {
  0% { filter: hue-rotate(0deg) }
  50% { filter: hue-rotate(180deg) }
  100% { filter: hue-rotate(360deg) }
}

.emojis-item-badge {
  position: absolute;
  font-family: sans-serif;
  top: -5px; right: -5px;
  font-size: 10pt;
  background-color: red;
  border-radius: 3px;
  padding: 2px;
  color: white;
  min-width: 12px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji-categories {
  list-style: none;
  margin: 0;
  padding: 0;
}

.emoji-category-header {
  font-size: 48pt;
  font-weight: normal;
  text-align: center;
  position: sticky; 
  top: 10px;
  z-index: 1000;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 0;
}

.emoji-category {
  position: sticky;
}

.emoji-category[data-category="people"] > .emoji-category-header {
  font-family: 'Rozha One', serif;
  color: gold;
}

.emoji-category[data-category="nature"] > .emoji-category-header {
  font-family: 'Indie Flower', serif;
  color: green;
}

.emoji-category[data-category="foods"] > .emoji-category-header {
  font-family: 'Bitter', serif;
  color: red;
  top: 10px;
}

.emoji-category[data-category="activity"] > .emoji-category-header {
  font-family: 'Saira Semi Condensed', sans-serif;
  color: purple;
}

.emoji-category[data-category="symbols"] > .emoji-category-header {
  font-family: 'Inconsolata', monospace;
  color: darkslateblue;
}

.emoji-category[data-category="objects"] > .emoji-category-header {
  font-family: 'Open Sans', monospace;
  color: orange;
}

.emoji-category[data-category="flags"] > .emoji-category-header {
  font-family: 'Eater', monospace;
  color: blue;
}